In [30]:

# Import pandas for data manipulation
import pandas as pd

# Import numpy for scientific computations
import numpy as np

# Import plotly library for data visualisation
# ---
# `plotly.express` contains plotly.py's core functionality
# ----
#
import plotly.express as px

Mobile network Evolution in Across Africa

Define the question you want to answer

1.What is a high-level diagnosis of the sector you’re studying?

Africa’s Mobile Industry trends

2.What are the key facts people need to know about this sector?

Trend of mobile network vs services being offered across Africa

3.What are key trends that are worth noting?

Fixed broadband subscriptions over the years

Mobile cellular subscrptions over the years

i.What recommendations would you have for the sector in question?
  Fixed broadband subscription is on the steady rise over the years

  Fixes telephone subscription is on the decline since  2008

In [31]:
subscribers_df = pd.read_csv('https://bit.ly/MobileDataset')
subscribers_df.head()

,Series Name,Series Code,Country Name,Country Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
0,Internet users (per 100 people),IT.NET.USER.P2,Sub-Saharan Africa,SSF,..,0.068722178,0.128779789,0.233989844,0.359684995,0.501116248,...,3.670158994,5.616740719,6.922015421,9.775497398,12.10872903,14.61288055,17.1216113,19.57576513,22.38805971,..
1,Internet users (per 100 people),IT.NET.USER.P2,Angola,AGO,..,0.000775929,0.005673746,0.018453724,0.071964087,0.105045562,...,1.7,1.9,2.3,2.8,3.1,6.5,8.9,10.2,12.4,..
2,Internet users (per 100 people),IT.NET.USER.P2,Benin,BEN,..,0.0016931,0.024648796,0.047877304,0.154906741,0.225247851,...,1.79,1.85,2.24,3.13,4.148323066,4.5,4.9,6,6.787702956,..
3,Internet users (per 100 people),IT.NET.USER.P2,Botswana,BWA,0.064521041,0.15745423,0.30774685,0.602400929,1.122391474,2.902666622,...,5.28,6.25,6.15,6,8,11.5,15,18.5,27.5,..
4,Internet users (per 100 people),IT.NET.USER.P2,Burkina Faso,BFA,..,0.000960519,0.018686353,0.045423484,0.061780293,0.077080169,...,0.75,0.92,1.13,2.4,3,3.725034916,9.1,9.4,11.38764617,..

In [ ]:
subscribers_df.shape

(715, 26)

In [32]:
subscribers_df.dtypes

Series Name      object
Series Code      object
Country Name     object
Country Code     object
1995 [YR1995]    object
1996 [YR1996]    object
1997 [YR1997]    object
1998 [YR1998]    object
1999 [YR1999]    object
2000 [YR2000]    object
2001 [YR2001]    object
2002 [YR2002]    object
2003 [YR2003]    object
2004 [YR2004]    object
2005 [YR2005]    object
2006 [YR2006]    object
2007 [YR2007]    object
2008 [YR2008]    object
2009 [YR2009]    object
2010 [YR2010]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
dtype: object

In [33]:
# check for missing values in each column 

subscribers_df.isnull().sum()

Series Name      0
Series Code      0
Country Name     0
Country Code     0
1995 [YR1995]    0
1996 [YR1996]    0
1997 [YR1997]    0
1998 [YR1998]    0
1999 [YR1999]    0
2000 [YR2000]    0
2001 [YR2001]    0
2002 [YR2002]    0
2003 [YR2003]    0
2004 [YR2004]    0
2005 [YR2005]    0
2006 [YR2006]    0
2007 [YR2007]    0
2008 [YR2008]    0
2009 [YR2009]    0
2010 [YR2010]    0
2011 [YR2011]    0
2012 [YR2012]    0
2013 [YR2013]    0
2014 [YR2014]    0
2015 [YR2015]    0
2016 [YR2016]    0
dtype: int64

In [34]:
#  convert all values in our colums to lower case
#df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
# mobile_df.columns = mobile_df.columns.str.lower()
subscribers_df.columns = subscribers_df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
subscribers_df.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

,series_name,series_code,country_name,country_code,1995_[yr1995],1996_[yr1996],1997_[yr1997],1998_[yr1998],1999_[yr1999],2000_[yr2000],...,2007_[yr2007],2008_[yr2008],2009_[yr2009],2010_[yr2010],2011_[yr2011],2012_[yr2012],2013_[yr2013],2014_[yr2014],2015_[yr2015],2016_[yr2016]
710,High-technology exports (current US$),TX.VAL.TECH.CD,Djibouti,DJI,..,..,..,..,..,..,...,..,..,116611,..,..,..,..,..,..,..
711,High-technology exports (current US$),TX.VAL.TECH.CD,"Egypt, Arab Rep.",EGY,7444650,7202642,4320820,3125918,3458267,5590915,...,5729500,91898811,85283582,96228883,128064020,74587997,70412348,176345548,..,..
712,High-technology exports (current US$),TX.VAL.TECH.CD,Libya,LBY,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
713,High-technology exports (current US$),TX.VAL.TECH.CD,Tunisia,TUN,69935756,72191999,71688241,97153681,124512446,154371221,...,573108916,628103934,446128793,611161593,732232913,569043143,616390976,..,..,..
714,High-technology exports (current US$),TX.VAL.TECH.CD,Morocco,MAR,13355016,8584637,9509015,448261790,604369645,537369655,...,859085513,771383917,664566954,897323698,860938797,889025706,949971530,869791832,..,..

In [35]:
subscribers_df.columns = ['series_name', 'series_code', 'country_name', 'country_code', '1995', '1996', '1997', '1998','1999' ,'2000',' 2001',' 2002',' 2003',' 2004',' 2005',' 2006',' 2007 ','2008 ','2009 ','2010 ','2011 ','2012 ','2013',' 2014','2015', '2016']
subscribers_df.columns = subscribers_df.columns.str.strip()

In [36]:
subscribers_df[subscribers_df.duplicated()]
sum(subscribers_df.duplicated())

0

No duplicates

In [37]:
#convert coulumns to int 
yearly_columns = subscribers_df.columns[4:]
subscribers_df[yearly_columns] = subscribers_df[yearly_columns].apply(lambda x: x.replace('..', '0')).astype(float).astype('int')

yearly_columns

Index(['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016'],
      dtype='object')

Dropping colums with zero values

In [38]:
subscribers_df.drop(columns=['2016'], inplace=True)
subscribers_df.sample(10)

,series_name,series_code,country_name,country_code,1995,1996,1997,1998,1999,2000,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
488,ICT goods imports (% total goods imports),TM.VAL.ICTG.ZS.UN,Zimbabwe,ZWE,0,0,0,0,0,0,...,2,1,2,4,5,2,3,3,3,0
273,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,Tunisia,TUN,5,6,7,8,8,9,...,12,12,11,12,12,11,10,9,8,8
241,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,Guinea-Bissau,GNB,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
667,High-technology exports (current US$),TX.VAL.TECH.CD,Cameroon,CMR,3202883,2475320,1576955,0,0,825496,...,2967180,11281067,9773801,7758715,14232013,26918157,14790526,0,26702495,0
474,ICT goods imports (% total goods imports),TM.VAL.ICTG.ZS.UN,Rwanda,RWA,0,0,0,0,0,0,...,7,7,8,11,7,6,7,6,9,0
323,Fixed telephone subscriptions,IT.MLT.MAIN,Zimbabwe,ZWE,152473,174985,211672,236530,238956,249400,...,335561,345000,348000,385116,379000,356000,301650,304162,329475,333702
79,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,Liberia,LBR,0,0,0,0,0,0,...,8,15,23,28,39,49,56,59,73,81
630,High-technology exports (% of manufactured exp...,TX.VAL.TECH.MF.ZS,Madagascar,MDG,1,2,0,18,3,0,...,1,1,0,1,1,9,0,0,0,0
372,Mobile cellular subscriptions,IT.CEL.SETS,Sudan,SDN,0,2200,3800,8600,13000,23000,...,4683127,8218092,11991469,15339895,18093231,25056185,27658595,27657875,27796611,27938507
512,"ICT service exports (% of service exports, BoP)",BX.GSR.CCIS.ZS,Gabon,GAB,36,36,30,26,24,30,...,0,0,0,0,0,0,0,0,0,0

In [39]:
subscribers_df['series_name'].unique()
subscribers_df.head()

,series_name,series_code,country_name,country_code,1995,1996,1997,1998,1999,2000,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Internet users (per 100 people),IT.NET.USER.P2,Sub-Saharan Africa,SSF,0,0,0,0,0,0,...,2,3,5,6,9,12,14,17,19,22
1,Internet users (per 100 people),IT.NET.USER.P2,Angola,AGO,0,0,0,0,0,0,...,1,1,1,2,2,3,6,8,10,12
2,Internet users (per 100 people),IT.NET.USER.P2,Benin,BEN,0,0,0,0,0,0,...,1,1,1,2,3,4,4,4,6,6
3,Internet users (per 100 people),IT.NET.USER.P2,Botswana,BWA,0,0,0,0,1,2,...,4,5,6,6,6,8,11,15,18,27
4,Internet users (per 100 people),IT.NET.USER.P2,Burkina Faso,BFA,0,0,0,0,0,0,...,0,0,0,1,2,3,3,9,9,11

In [40]:
stats_columns = list(subscribers_df.columns[1:])
check_df = subscribers_df.groupby('series_name', as_index=False).sum()
check_df.head()

,series_name,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Fixed broadband subscriptions,0,0,0,0,0,25,807,60089,107053,...,1342775,2681009,3624555,4718654,6114707,7370480,8946309,11550162,13520931,18167393
1,Fixed broadband subscriptions (per 100 people),0,0,0,0,0,0,0,0,0,...,5,6,13,20,27,36,43,50,51,57
2,Fixed telephone subscriptions,18783469,20376954,22378417,24841595,27537599,28640405,30677108,33065627,35406838,...,40862139,43362438,44520295,45145162,44474241,42523801,41030586,36056455,34943767,34888555
3,Fixed telephone subscriptions (per 100 people),84,98,113,125,132,141,151,157,167,...,171,182,182,193,187,191,175,164,155,156
4,High-technology exports (% of manufactured exp...,59,92,122,144,181,120,142,254,158,...,214,153,112,210,105,165,140,159,138,17

In [41]:
check_df = check_df.transpose().reset_index()
check_df

,index,0,1,2,3,4,5,6,7,8,9,10,11,12
0,series_name,Fixed broadband subscriptions,Fixed broadband subscriptions (per 100 people),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),High-technology exports (% of manufactured exp...,High-technology exports (current US$),ICT goods exports (% of total goods exports),ICT goods imports (% total goods imports),"ICT service exports (% of service exports, BoP)","ICT service exports (BoP, current US$)",Internet users (per 100 people),Mobile cellular subscriptions,Mobile cellular subscriptions (per 100 people)
1,1995,0,0,18783469,84,59,844182105,0,0,291,3956464406,0,1248167,2
2,1996,0,0,20376954,98,92,893717307,0,0,475,5063929805,0,2235141,4
3,1997,0,0,22378417,113,122,1223492274,0,0,484,4742290400,2,4350143,9
4,1998,0,0,24841595,125,144,1631730813,0,0,494,4297319394,6,8029255,19
5,1999,0,0,27537599,132,181,1905362962,0,0,553,4151230850,17,13941402,50
6,2000,25,0,28640405,141,120,2929519076,3,105,552,5057205713,30,26837839,120
7,2001,807,0,30677108,151,142,2644083698,2,136,503,4872449479,46,42201201,194
8,2002,60089,0,33065627,157,254,2650460173,8,140,534,5323158456,66,61999146,280
9,2003,107053,0,35406838,167,158,3182105026,16,155,431,5491721326,86,88047101,382
10,2004,267655,0,37600889,171,142,4473153667,10,156,490,7546714036,136,134558521,544
11,2005,985058,1,38755753,171,185,5634548224,24,157,507,7682243682,160,228145209,811
12,2006,1342775,5,40862139,171,214,7284909209,30,161,531,8568057078,201,336783015,1143
13,2007,2681009,6,43362438,182,153,6474868886,19,169,630,10896020928,245,459745406,1576
14,2008,3624555,13,44520295,182,112,6748653877,35,164,681,13837386004,313,629496047,2095
15,2009,4718654,20,45145162,193,210,5219797691,19,175,751,18192719584,336,766372133,2550
16,2010,6114707,27,44474241,187,105,6177394641,18,159,730,13605123469,506,933510104,3088
17,2011,7370480,36,42523801,191,165,8154980062,17,119,779,22008242281,580,1121626587,3543
18,2012,8946309,43,41030586,175,140,8047878711,18,118,890,23070242252,639,1284881003,3905
19,2013,11550162,50,36056455,164,159,4518145179,13,109,900,14935545399,764,1440993957,4268
20,2014,13520931,51,34943767,155,138,4193859476,17,113,651,14159357720,899,1569798496,4529
21,2015,18167393,57,34888555,156,17,55022596,0,0,368,9894006518,1051,1702589999,4701

In [43]:
column_new  = check_df.iloc[0]
column_new

index                                          series_name
0                            Fixed broadband subscriptions
1           Fixed broadband subscriptions (per 100 people)
2                            Fixed telephone subscriptions
3           Fixed telephone subscriptions (per 100 people)
4        High-technology exports (% of manufactured exp...
5                    High-technology exports (current US$)
6             ICT goods exports (% of total goods exports)
7                ICT goods imports (% total goods imports)
8          ICT service exports (% of service exports, BoP)
9                   ICT service exports (BoP, current US$)
10                         Internet users (per 100 people)
11                           Mobile cellular subscriptions
12          Mobile cellular subscriptions (per 100 people)
Name: 0, dtype: object

In [44]:
check_df.columns = column_new
check_df.drop(index=0, inplace=True)
check_df

,series_name,Fixed broadband subscriptions,Fixed broadband subscriptions (per 100 people),Fixed telephone subscriptions,Fixed telephone subscriptions (per 100 people),High-technology exports (% of manufactured exports),High-technology exports (current US$),ICT goods exports (% of total goods exports),ICT goods imports (% total goods imports),"ICT service exports (% of service exports, BoP)","ICT service exports (BoP, current US$)",Internet users (per 100 people),Mobile cellular subscriptions,Mobile cellular subscriptions (per 100 people)
1,1995,0,0,18783469,84,59,844182105,0,0,291,3956464406,0,1248167,2
2,1996,0,0,20376954,98,92,893717307,0,0,475,5063929805,0,2235141,4
3,1997,0,0,22378417,113,122,1223492274,0,0,484,4742290400,2,4350143,9
4,1998,0,0,24841595,125,144,1631730813,0,0,494,4297319394,6,8029255,19
5,1999,0,0,27537599,132,181,1905362962,0,0,553,4151230850,17,13941402,50
6,2000,25,0,28640405,141,120,2929519076,3,105,552,5057205713,30,26837839,120
7,2001,807,0,30677108,151,142,2644083698,2,136,503,4872449479,46,42201201,194
8,2002,60089,0,33065627,157,254,2650460173,8,140,534,5323158456,66,61999146,280
9,2003,107053,0,35406838,167,158,3182105026,16,155,431,5491721326,86,88047101,382
10,2004,267655,0,37600889,171,142,4473153667,10,156,490,7546714036,136,134558521,544
11,2005,985058,1,38755753,171,185,5634548224,24,157,507,7682243682,160,228145209,811
12,2006,1342775,5,40862139,171,214,7284909209,30,161,531,8568057078,201,336783015,1143
13,2007,2681009,6,43362438,182,153,6474868886,19,169,630,10896020928,245,459745406,1576
14,2008,3624555,13,44520295,182,112,6748653877,35,164,681,13837386004,313,629496047,2095
15,2009,4718654,20,45145162,193,210,5219797691,19,175,751,18192719584,336,766372133,2550
16,2010,6114707,27,44474241,187,105,6177394641,18,159,730,13605123469,506,933510104,3088
17,2011,7370480,36,42523801,191,165,8154980062,17,119,779,22008242281,580,1121626587,3543
18,2012,8946309,43,41030586,175,140,8047878711,18,118,890,23070242252,639,1284881003,3905
19,2013,11550162,50,36056455,164,159,4518145179,13,109,900,14935545399,764,1440993957,4268
20,2014,13520931,51,34943767,155,138,4193859476,17,113,651,14159357720,899,1569798496,4529
21,2015,18167393,57,34888555,156,17,55022596,0,0,368,9894006518,1051,1702589999,4701

In [47]:
new_column = check_df.columns[1:]
check_df = pd.melt(check_df, id_vars=['series_name'], value_vars='value_columns')
check_df.head(5)

  series_name                                               0 value
0        1995  Mobile cellular subscriptions (per 100 people)     2
1        1996  Mobile cellular subscriptions (per 100 people)     4
2        1997  Mobile cellular subscriptions (per 100 people)     9
3        1998  Mobile cellular subscriptions (per 100 people)    19
4        1999  Mobile cellular subscriptions (per 100 people)    50

In [57]:
fig = px.line(
    check_df, 
    x = 'series_name',
    y = 'value',
    color = 0,

    template = "presentation"
  )

# Tweak and Label
fig.update_layout(
    title = {
        'text': ' KPIs trends years', 
        'x': 0.5,
        'font_size' : 15,
        'xanchor': 'center',
        'yanchor': 'top'},
    xaxis_title_text = 'Years',
    yaxis_title_text = 'number',
  ) 

# Display
fig.show()

In [56]:
fig2 = px.line(
    check_df, 
    x = 'series_name',
    y = 'value',
    color = 0,

    template = "presentation"
  )

# Tweak and Label
fig2.update_layout(
    title = {
        'text': ' KPIs trends years', 
        'x': 0.5,
        'font_size' : 15,
        'xanchor': 'center',
        'yanchor': 'top'},
    xaxis_title_text = 'Years',
    yaxis_title_text = 'number',
  ) 

# Display
fig2.show()

In [55]:
yearly_columns = list(subscribers_df.columns[2:])
country_trend_df = pd.melt(subscribers_df, id_vars=['series_name', 'country_name'], value_vars=yearly_columns)
cellular_df = country_trend_df[country_trend_df['series_name']=='Fixed broadband subscriptions']

fig3 = px.line(
    cellular_df, 
    x = 'variable',
    y = 'value',
    color = 'country_name',

    template = "simple_white"
  )

# Tweak and Label
fig3.update_layout(
    title = {
        'text': 'fixed broadband  growth  per country', 
        'x': 0.5,
        'font_size' : 15,
        'xanchor': 'center',
        'yanchor': 'top'},
    xaxis_title_text = 'Years',
    yaxis_title_text = 'fixed broadband ',
  ) 

# Display
fig3.show()

In [ ]:
mobile_cell_df = country_trend_df[country_trend_df['series_name']=='Mobile cellular subscriptions']

fig4 = px.line(
    mobile_cell_df, 
    x = 'variable',
    y = 'value',
    color = 'country_name',

    template = "plotly_dark"
  )

# Tweak and Label
fig4.update_layout(
    title = {
        'text': ' cellular subscriptions  per country', 
        'x': 0.5,
        'font_size' : 15,
        'xanchor': 'center',
        'yanchor': 'top'},
    xaxis_title_text = 'Years',
    yaxis_title_text = 'cellular subscriptions',
  ) 

# Display
fig4.show()

In [ ]:
# install chart studio
!pip install chart_studio

# import chart studio
import chart_studio

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chart_studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 1.7 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from chart_studio) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from chart_studio) (5.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->chart_studio) (8.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (1.24.3)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11447 sha256=be0f567517fb32faeb71496c665ecdb7d81b44f9bacaa720413d34d08d7a3e9d
  Stored in directory: /root/.cache/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, chart-studio
Successfully installed chart-studio-1.1.0 retrying-1.3.3

In [ ]:
username = 'MOTURI' # your username
api_key = 'Jp9Ko09fB53ENuXvLPA9' # your api key - go to profile > settings > regenerate key
chart_studio.tools.set_credentials_file(username=username, api_key=api_key)

In [51]:
import chart_studio.plotly as py
py.plot(fig, filename = 'My Visusalisation', auto_open=True)

'https://plotly.com/~MOTURI/1/'

In [53]:
import chart_studio.tools as tls
tls.get_embed('https://plotly.com/~MOTURI/1/') #change to your url

'<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~MOTURI/1.embed" height="525" width="100%"></iframe>'